<h2>Forgot your password?</h2>

<%= semantic_form_for(resource, :as => resource_name,
                      :url => password_path(resource_name),
                      :html => { :method => :post }) do |f| %>
  <%= f.inputs do %>
    <%= f.input :email %>
  <% end %>
  <%= f.buttons do %>
    <%= f.commit_button "Send me reset password instructions" %>
  <% end %>
<% end %>

<%= render :partial => "devise/shared/links" %>
