<!DOCTYPE html>
<html>
<head>
  <title>Bookshop</title>
  <%= stylesheet_link_tag    "application" %>
  
  <!--[if IE 6]><%= stylesheet_link_tag 'ie6' %><![endif]-->
  <!--[if IE 7]><%= stylesheet_link_tag 'ie7' %><![endif]-->

  <%= javascript_include_tag "application", "nested_form" %>
  <%= csrf_meta_tags %>
</head>
 <body id="store" >
    <div id="banner" >
      <%= image_tag("logo.png") %>
      <%= @page_title || "Pragmatic Bookshelf" %>
    </div>
    <div id="columns" >
      <div id="side" >
       <% if @cart %>
        <%= render @cart %> 
        <% end %>
        <%= link_to "Home", root_url %> <br/>
        <%= link_to "Products", products_path %>
        <%= link_to "Cart", cart_path %>
      </div>
      <div id="main" >
        <% if notice %>
          <p id="notice"><%= notice %></p>	
        <% end %>
        <%= yield %>
      </div>
    </div>
  </body>
</html>
